html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

/* div {
    background-color: lightgray;
} */